body{ 
    background-size: cover;
    margin: 0%;  
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
*{
    box-sizing: border-box;
}

header{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 0%;
    padding: auto;
    width: 100%;
    background-color: rgb(142, 193, 216);
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-weight: bold;
    margin-bottom: 1vw;
    justify-content: center;
    align-items: center;
}

button{
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
}
.container{
    background-image: url(./week2/assets2/back.jfif);
    display:grid;
    align-content: space-evenly;
    justify-content: center;
}
h1{
    text-align: center;
    align-self: center;
}
.formall{
    display: grid; 
    grid-template-columns:repeat(3, 1fr) ;
    justify-items: stretch;
    align-items: baseline;
}

label {
    text-transform: uppercase;
}

.formall>div {
    padding: 20px 10px;
}

.select-wrapper,
.bottom-wrapper {
    padding: 10px;
}
.input-wrap {
    padding-top: 20px;
}
select, input:not([type='checkbox']) {    
    display: block;
    width: 100%;
    padding: 8px;
}
.bottom-title {
    padding-top: 40px;
}

.button-wrapper {
    text-align: center;
    padding-top: 40px;
}

.header-button {
    margin: 0 20px;
}

@media (max-width: 600px) {
    .formall{
        display: grid; 
        grid-template-columns:repeat(1, 1fr) ;
    }
  }